@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

::selection {
    background-color: var(--Background-Selection);
    color: #FFF;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    list-style: none;
    transition: all .2s linear;
    resize: none;
    font-family: 'Nunito', sans-serif;
}

:root {
    --Background-Selection:#006A4E;
    --banner-Color:#82C953;
    --text-Color:#222;
    --box-Shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.144);


    --Header-bacco:#B8EBA9;
    --border-bacco:#acc7a4c2;



    --font-Banner-Size: 4rem;
    --font-Deal-Size:3.5rem;
    --font-Banner-MinSize: 1.7rem;
    --font-Banner-Weight: 800;

    --Light-White:#EEE;
    --Light-Black:rgba(0,0,0,0.255);

    --Icon-Hover:#F8D034;
    --Button-Hover:#3EC75E;
}

section {
    padding: 1.5rem 9%;
}

.header-1,
.header-2,
.header-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: var(--Header-bacco);
}

.header-1 {
    border-bottom: .1rem solid rgba(255,255,255,.2);
}

.header-3 {
    background-color: #FFF;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.144);
    position: relative;
    z-index: 10000;
}

.header-1 span {
    font-weight: lighter;
    color: #FFF;
    font-size: 1.7rem;
}

.header-1 a {
    padding: 0 .7rem;
    color: #FFF;
    font-size: 2rem;
}

.header-1 a:hover {
    color: var(--Icon-Hover);
}

.header-2 .logo {
    font-weight: var(--font-Banner-Weight);
    font-size: 3rem;
    color: #FFF;
}

.header-2 .logo i {
    color: var(--Icon-Hover);
}

.header-2 .search-bar-container {
    display: flex;
    align-items: center;
    width: 50rem;
    padding: 1.4rem;
    background-color: rgba(255,255,255,.2);
    border-radius: .2rem;
}

.header-2 .search-bar-container #search-bar {
    width: 100%;
    background-color: transparent;
    text-transform: none;
    color: #FFF;
    font-size: 1.7rem;
}

.header-2 .search-bar-container #search-bar::placeholder {
    text-transform: none;
    color:var(--text-Color);
}

.header-2 .search-bar-container label {
    color: #FFF;
    cursor: pointer;
    font-size: 2rem;
    padding: 0 .5rem;
}

.header-2 .search-bar-container label:hover {
    color: var(--Button-Hover);
}

.header-3 .navbar a{
    color: var(--text-Color);
    font-size: 2rem;
    font-weight: 700;
    margin-right: 2rem;
}

.header-3 .icons a{
    color: var(--text-Color);
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header-3 a:hover {
    color: var(--Button-Hover);
}

#menu-bar {
    font-size: 3rem;
    color: var(--Header-bacco);
    border: .1rem solid var(--Light-Black);
    border-radius: .7rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}

.header-3.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.home {
    padding-top: 0;
}

.home .home-slider {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.144);
    border: .1rem solid rgba(0,0,0,0.3);
    border-top: 0;
}

.home .home-slider .box {
    background-size: cover;
    background-position: center;
    min-height: 55rem;
    position: relative;
}

.home .home-slider .box .content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    max-width: 50rem;
}

.home .home-slider .box .content span{
    font-size: 3rem;
    color: var(--text-Color);
}

.home .home-slider .box .content h3{
    font-size: 6rem;
    font-weight: var(--font-Banner-Weight);
    color: var(--text-Color);
    padding: .5rem 0;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background-color: var(--Header-bacco);
    color: #FFF;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: .2rem;
}

.btn:hover {
    color: #FFF;
    background-color:var(--Button-Hover);
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.swiper-pagination-bullet {
    cursor: pointer;
}

.banner-container .banner {
    flex: 1 1 40rem;
    height: 25rem;
    border: .1rem solid rgba(0,0,0,0.3);
    box-shadow: var(--box-Shadow);
    overflow: hidden;
    position: relative;
}

.banner-container .banner .content {
    position: absolute;
    top: 50%;
    left:4%;
    transform: translateY(-50%);
}

.banner-container .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-container .banner .content span {
    color: var(--Button-Hover);
    font-size: var(--font-Banner-MinSize);
    letter-spacing: 2px;
}

.banner-container .banner .content h3 {
    color: var(--text-Color);
    font-size: var(--font-Banner-Size);
    font-weight: var(--font-Banner-Weight);
    letter-spacing: 3px;
}

.banner-container .banner:hover img {
    transform: scale(1.2);
}

.heading {
    font-size: var(--font-Banner-Size);
    font-weight: var(--font-Banner-Weight);
    color:var(--text-Color);
    padding-left: 1rem;
    border-left: .9rem solid var(--Header-bacco);
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.category .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.category .box-container .box {
    position: relative;
    flex: 1 1 23rem;
    height: 35rem;
    overflow: hidden;
    border: .1rem solid rgba(0,0,0,0.3);
    box-shadow: var(--box-Shadow);
}

.category .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.category .box-container .box .content  {
    position: absolute;
    bottom: -5.5rem;
    background: var(--Light-White);
    border-top: .1rem solid rgba(0,0,0,0.3);
    text-align: center;
    padding: .5rem 0;
    width: 100%;
}

.category .box-container .box:hover .content {
    bottom: 0;
}

.category .box-container .box .content h3 {
    color: var(--text-Color);
    font-size: 2.5rem;
    padding: .5rem 0;
}

.category .box-container .box .content .btn {
    margin-bottom: 1.2rem;
    color: #FFF;
    background-color: var(--text-Color);
}

.product .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.product .box-container .box {
    flex:1 1 30rem;
    border:.1rem solid rgba(0,0,0,0.3);
    box-shadow: var(--box-Shadow);
    text-align: center;
    position:relative;
    overflow: hidden;
}

.product .box-container .box img {
    height: 30rem;
    width: 100%;
    border-bottom:.1rem solid rgba(0,0,0,0.3);
    object-fit: cover;
}

.product .box-container .box .discount {
    position: absolute;
    top: 1rem; left: 1rem;
    background-color: var(--Header-bacco);
    color: var(--Background-Selection);
    padding: .5rem 1rem;
    border-radius: .7rem;
    font-weight: var(--font-Banner-Weight);
    font-size: 2rem;
}

.product .box-container .box .icons {
    position: absolute;
    top: 1rem; right: -8rem;
    display: flex;
    flex-flow: column;
    background-color: var(--Light-White);
    box-shadow: var(--box-Shadow);
    border-radius: 5rem;
    padding: .5rem;
}

.product .box-container .box:hover .icons {
    right: 1rem;
}

.product .box-container .box .icons a {
    color: #333;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    width: 4rem;
    margin:.1rem;
    font-size: 1.5rem;
    border-radius: 5rem;
}

.product .box-container .box .icons a:hover {
    color: #FFF;
    background-color: var(--Button-Hover);
} 

.product .box-container .box h3 {
    color: #222;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.product .box-container .box .stars i {
    color: var(--Icon-Hover);
    font-size: 2rem;
    cursor: pointer;
}

.product .box-container .box .quantity {
    padding: 1rem 0;
}

.product .box-container .box .quantity span{
    font-size: 2rem;
}

.product .box-container .box .quantity input{
    font-size: 2rem;
    padding: .5rem;
    text-align: center;
    background-color: rgba(184, 235, 169, 0.466);
}

.product .box-container .box .price {
    font-weight: var(--font-Banner-Weight);
    color: var(--text-Color);
    font-size: 2rem;
}

.product .box-container .box .price span {
    text-decoration: line-through;
    font-size: 1.3rem;
    font-weight: normal;
    color: var(--Background-Selection);
}

.product .box-container .box .btn {
    display: block;
    margin: 2rem;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.icons-container .icon {
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
    border: .1rem solid #FFF;
    box-shadow: var(--box-Shadow);
    border-radius: .3rem;
}

.icons-container .icon .content {
    padding-left: 2rem;
    width: 100%;
}

.icons-container .icon .content h3{
    font-size: 2rem;
    color:var(--Button-Hover);
}

.icons-container .icon .content p{
    font-size: 1.7rem;
    color:var(--text-Color);
}

.deal .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.deal .row .image {
    flex: 1 1 40rem;
}

.deal .row .image img{
    width: 100%;
}

.deal .row .content {
    flex: 1 1 40rem;
}

.deal .row .content .title {
    font-size: var(--font-Deal-Size);
    color: #222;
}

.deal .row .content p{
    font-size: 1.5rem;
    color: #888;
    padding:1rem 0;
}

.deal .row .content .count-down {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 0;
}

.deal .row .content .count-down .box {
    width: 9rem;
    text-align: center;
    border: .1rem solid transparent;
    box-shadow: var(--box-Shadow);
}

.deal .row .content .count-down .box h3 {
    font-size: 5rem;
    font-weight: var(--font-Banner-Weight);
    color: var(--text-Color);
    letter-spacing: 2px;
}

.deal .row .content .count-down .box span {
    font-size: 1.7rem;
    color:#FFF;
    display: block;
    background-color:#333;
    padding-left: .5rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    border: .1rem solid rgba(0,0,0,0.3);
}

.contact .row .map {
    width: 100%;
    flex:1 1 40rem;
}

.contact .row form {
    padding: 2rem;
    flex:1 1 40rem;
}

.contact .row form .inputBox {
    position: relative;
}

.contact .row form .inputBox input,
.contact .row form .inputBox textarea {
    border-bottom: 1px solid var(--border-bacco);
    width: 100%;
    padding: 1rem 0;
    margin: 1.5rem 0;
    text-transform: none;
    color: #000;
}

.contact .row form .inputBox textarea {
    height: 15rem;
}

.contact .row form .inputBox input:focus,
.contact .row form .inputBox textarea:focus {
    border-color: var(--text-Color);
}

.contact .row form .inputBox label {
    position: absolute;
    top: 2.3rem;
    left: 0;
    font-size: 1.7rem;
}

.contact .row form .inputBox input:focus ~ label,
.contact .row form .inputBox textarea:focus ~ label,
.contact .row form .inputBox input:valid ~ label,
.contact .row form .inputBox textarea:valid ~ label {
    top: -.2rem;
    font-size: 1.5rem;
    color: #222;
}

.scroll-top {
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 1000;
    font-size: 3rem;
    background-color: #FFF;
    color: #000;
    border: .1rem solid transparent;
    box-shadow: var(--box-Shadow);
    padding: .8rem;
    border-radius: .5rem;
    display: none;
}

.scroll-top:hover {
    background-color: #2c2c2c;
    color: #FFF;
}



@media screen and (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width:991px) {
    .header-1,
    .header-2,
    .header-3 {
        padding: 2rem;
    }
    section {
        padding: 1.5rem;
    }
}

@media screen and (max-width:768px) {
    #menu-bar {
        display: initial;
    }
    .header-3 .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--Light-White);
        padding: 1rem 2rem;
        border-top: .1rem solid var(--Light-Black);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0 );
    }
    .header-3 .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header-3 .navbar a {
        display: block;
        margin: 1.5rem 0;
        padding: 1.5rem;
        border-radius: .2rem;
        border: .1rem solid var(--Light-Black);
        background-color: var(--Light-White);
        text-align: center;
        text-transform: uppercase;
    }
    .header-3 .navbar a:hover {
        background-color: var(--Header-bacco);
        color: #FFF;
    }
    .header-2 {
        flex-direction: column;
    }
    .header-2 .search-bar-container {
        width: 100%;
        margin-top: 2rem;
    }
    .home .home-slider .box {
        background-position: right !important;
        z-index: 0;
    }
    .home .home-slider .box::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: rgba(255,255,255,.4);
    }
    .home .home-slider .content h3 {
        font-size: 4.5rem ;
    }
}

@media screen and (max-width:450px) {
    html {
        font-size: 50%;
    }
    .header-1 {
        display: none;
    }
    
    .deal .row .content .count-down .box {
        width: 7rem;
    }

    .deal .row .content .count-down .box h3 {
        font-size: 3rem;
        padding:1rem 0;
    }

    .deal .row .content .count-down .box span {
        font-size: 1.5rem;
    }
}